<h3>resources</h3>

<ul class="menu">
	<li><a href="{{ site.baseurl }}{%- link _pages/resources-critical-ai.md -%}">critical ai research(ers)&nbsp;&raquo;</a></li>
	<li><a href="{{ site.baseurl }}{%- link _pages/resources-envirotech-ai.md -%}">envirotechnical ai mappings&nbsp;&raquo;</a></li>
	<li><a href="{{ site.baseurl }}{%- link _pages/writing.md -%}">writing & research tools&nbsp;&raquo;</a></li>
	<li><a href="{{ site.baseurl }}{%- link _pages/research-career-planning.md -%}">research career planning&nbsp;&raquo;</a></li>
</ul>