
<p class="social">interests:<br/>
	semiotics | artificial intelligence | social construction of technology
</p>
<ul class="social">

	<li><a href="https://www.etis.ee/CV/Auli_Viidalepp/eng">ETIS</a></li>
	<li><a href="https://scholar.google.com/citations?user=Xo281hQAAAAJ&hl=en">GScholar</a></li>
	<li><a href="https://www.researchgate.net/profile/Auli-Viidalepp">ResearchGate</a></li>
</ul>
<ul class="social">
	<li class="nobg"><a href="https://www.linkedin.com/in/viidalepp"><img src="/assets/img/icons8-linkedin.svg"></a></li>
	<li class="nobg"><a href="https://orcid.org/0000-0002-6206-5681"><img src="https://orcid.org/assets/vectors/orcid.logo.icon.svg" /></a></li>
	{% comment %}
	<li><a href="https://publons.com/researcher/5051011/auli-viidalepp/">WoS ResearcherID</a></li>
	{% endcomment %}
</ul>
